### Add/Remove Rows and Columns from DataFrames

In [1]:
import pandas as pd

In [2]:
people = {
    "first" : ["Vijay", "Abhishek", "Ravi", "Anand", "John", "Shivam", "Neeraj", "Shivansh", "Akash", "Saurabh"],
    "last" : ["Yadav", "Yadav", "Singh", "Pal", "Doe", "Bind", "Yadav", "Singh", "Singh", "Maurya"],
    "email" : ["vijay@gmail.com", "abhi@gmail.com", "ravi@gmail.com", "anand@gmail.com", "john@gmail.com", "shivam@gmail.com", "neeraj@gmail.com", "shiv@gmail.com", "akash@gmail.com", "saurabh@gmail.com"],
    "qualification" : ["BSc", "BCA", "B.A.", "B.Tech", "M.Tech", "M.A.", "BSc", "BCA", "LLB", "BCA"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first    last              email qualification
0     Vijay   Yadav    vijay@gmail.com           BSc
1  Abhishek   Yadav     abhi@gmail.com           BCA
2      Ravi   Singh     ravi@gmail.com          B.A.
3     Anand     Pal    anand@gmail.com        B.Tech
4      John     Doe     john@gmail.com        M.Tech
5    Shivam    Bind   shivam@gmail.com          M.A.
6    Neeraj   Yadav   neeraj@gmail.com           BSc
7  Shivansh   Singh     shiv@gmail.com           BCA
8     Akash   Singh    akash@gmail.com           LLB
9   Saurabh  Maurya  saurabh@gmail.com           BCA

In [5]:
df['first'] + ' ' + df['last']

0       Vijay Yadav
1    Abhishek Yadav
2        Ravi Singh
3         Anand Pal
4          John Doe
5       Shivam Bind
6      Neeraj Yadav
7    Shivansh Singh
8       Akash Singh
9    Saurabh Maurya
dtype: object

In [6]:
df['full_name'] = df['first'] + ' ' + df['last']

In [7]:
df

      first    last              email qualification       full_name
0     Vijay   Yadav    vijay@gmail.com           BSc     Vijay Yadav
1  Abhishek   Yadav     abhi@gmail.com           BCA  Abhishek Yadav
2      Ravi   Singh     ravi@gmail.com          B.A.      Ravi Singh
3     Anand     Pal    anand@gmail.com        B.Tech       Anand Pal
4      John     Doe     john@gmail.com        M.Tech        John Doe
5    Shivam    Bind   shivam@gmail.com          M.A.     Shivam Bind
6    Neeraj   Yadav   neeraj@gmail.com           BSc    Neeraj Yadav
7  Shivansh   Singh     shiv@gmail.com           BCA  Shivansh Singh
8     Akash   Singh    akash@gmail.com           LLB     Akash Singh
9   Saurabh  Maurya  saurabh@gmail.com           BCA  Saurabh Maurya

In [8]:
df.drop(columns=['first', 'last'], inplace=True)

In [9]:
df

               email qualification       full_name
0    vijay@gmail.com           BSc     Vijay Yadav
1     abhi@gmail.com           BCA  Abhishek Yadav
2     ravi@gmail.com          B.A.      Ravi Singh
3    anand@gmail.com        B.Tech       Anand Pal
4     john@gmail.com        M.Tech        John Doe
5   shivam@gmail.com          M.A.     Shivam Bind
6   neeraj@gmail.com           BSc    Neeraj Yadav
7     shiv@gmail.com           BCA  Shivansh Singh
8    akash@gmail.com           LLB     Akash Singh
9  saurabh@gmail.com           BCA  Saurabh Maurya

In [10]:
# Reverse
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [11]:
df

               email qualification       full_name     first    last
0    vijay@gmail.com           BSc     Vijay Yadav     Vijay   Yadav
1     abhi@gmail.com           BCA  Abhishek Yadav  Abhishek   Yadav
2     ravi@gmail.com          B.A.      Ravi Singh      Ravi   Singh
3    anand@gmail.com        B.Tech       Anand Pal     Anand     Pal
4     john@gmail.com        M.Tech        John Doe      John     Doe
5   shivam@gmail.com          M.A.     Shivam Bind    Shivam    Bind
6   neeraj@gmail.com           BSc    Neeraj Yadav    Neeraj   Yadav
7     shiv@gmail.com           BCA  Shivansh Singh  Shivansh   Singh
8    akash@gmail.com           LLB     Akash Singh     Akash   Singh
9  saurabh@gmail.com           BCA  Saurabh Maurya   Saurabh  Maurya

In [12]:
df.append({'first': 'Tony'}, ignore_index=True)

C:\Users\yadav\AppData\Local\Temp\ipykernel_16492\67547244.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first': 'Tony'}, ignore_index=True)

                email qualification       full_name     first    last
0     vijay@gmail.com           BSc     Vijay Yadav     Vijay   Yadav
1      abhi@gmail.com           BCA  Abhishek Yadav  Abhishek   Yadav
2      ravi@gmail.com          B.A.      Ravi Singh      Ravi   Singh
3     anand@gmail.com        B.Tech       Anand Pal     Anand     Pal
4      john@gmail.com        M.Tech        John Doe      John     Doe
5    shivam@gmail.com          M.A.     Shivam Bind    Shivam    Bind
6    neeraj@gmail.com           BSc    Neeraj Yadav    Neeraj   Yadav
7      shiv@gmail.com           BCA  Shivansh Singh  Shivansh   Singh
8     akash@gmail.com           LLB     Akash Singh     Akash   Singh
9   saurabh@gmail.com           BCA  Saurabh Maurya   Saurabh  Maurya
10                NaN           NaN             NaN      Tony     NaN

In [13]:
people = {
    "first" : ["Tony", "Steve"],
    "last" : ["Stark", "Rogers"],
    "email" : ["stark@gmail.com", "steve@gmail.com"],
    "qualification" : ["B.Tech", "MBA"]
}
df2 = pd.DataFrame(people)

In [14]:
df2

   first    last            email qualification
0   Tony   Stark  stark@gmail.com        B.Tech
1  Steve  Rogers  steve@gmail.com           MBA

In [15]:
df = df.append(df2, ignore_index=True)

C:\Users\yadav\AppData\Local\Temp\ipykernel_16492\445450659.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [16]:
df

                email qualification       full_name     first    last
0     vijay@gmail.com           BSc     Vijay Yadav     Vijay   Yadav
1      abhi@gmail.com           BCA  Abhishek Yadav  Abhishek   Yadav
2      ravi@gmail.com          B.A.      Ravi Singh      Ravi   Singh
3     anand@gmail.com        B.Tech       Anand Pal     Anand     Pal
4      john@gmail.com        M.Tech        John Doe      John     Doe
5    shivam@gmail.com          M.A.     Shivam Bind    Shivam    Bind
6    neeraj@gmail.com           BSc    Neeraj Yadav    Neeraj   Yadav
7      shiv@gmail.com           BCA  Shivansh Singh  Shivansh   Singh
8     akash@gmail.com           LLB     Akash Singh     Akash   Singh
9   saurabh@gmail.com           BCA  Saurabh Maurya   Saurabh  Maurya
10    stark@gmail.com        B.Tech             NaN      Tony   Stark
11    steve@gmail.com           MBA             NaN     Steve  Rogers

In [17]:
df.drop(index=[10,11])

               email qualification       full_name     first    last
0    vijay@gmail.com           BSc     Vijay Yadav     Vijay   Yadav
1     abhi@gmail.com           BCA  Abhishek Yadav  Abhishek   Yadav
2     ravi@gmail.com          B.A.      Ravi Singh      Ravi   Singh
3    anand@gmail.com        B.Tech       Anand Pal     Anand     Pal
4     john@gmail.com        M.Tech        John Doe      John     Doe
5   shivam@gmail.com          M.A.     Shivam Bind    Shivam    Bind
6   neeraj@gmail.com           BSc    Neeraj Yadav    Neeraj   Yadav
7     shiv@gmail.com           BCA  Shivansh Singh  Shivansh   Singh
8    akash@gmail.com           LLB     Akash Singh     Akash   Singh
9  saurabh@gmail.com           BCA  Saurabh Maurya   Saurabh  Maurya